@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

:root {
   --dustyWhite: #aaaaaa;
   --grey: #7a7a7a;
   --lightBlack: #474747;
   --blue: #16b3ff;
   --purple: #a816f5;
   --gradient: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
   --gradientButtonHover: linear-gradient(90deg, #3cbdfd 0%, #b52cff 100%);
   --borderBlue: #6bceff;
}

/* ------------------- Backgrounds ------------------- */

body {
   background: var(--gradient);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 450px;
   width: 100%;
   padding: 40px 35px;
   margin: 50px auto;
   color: var(--lightBlack);
   background-color: white;
   border-radius: 30px;
}

/* ------------------- Sections ------------------- */

.container-main {
   display: flex;
   flex-direction: column;
   width: 300px;
   color: var(--grey);
   margin: 20px 0px 50px 0px;
}

.container-footer > h2 {
   margin: 10px;
   font-size: 19px;
   font-weight: 400;
   color: var(--dustyWhite);
}

.socialLinks {
   display: flex;
   margin: 40px auto;
   gap: 20px;
   width: 60px;
   justify-content: space-around;
}

.githubLogo, .linkedinLogo {
   width: 45px;
   margin: auto;
}

.resultButton {
   margin-top: 10px;
   padding: 10px;
   font-size: 15px;
   color: white;
   border: none;
   border-radius: 50px;
   background: var(--gradient);
   transition: 0.2s;
}

.resultButton:hover {
   background: var(--gradientButtonHover);
   box-shadow: 0px 0px 5px var(--borderBlue);
}

.resultField {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

#resultText {
   margin-top: 20px;
}

/* ------------------- Inputs ------------------- */

#userYear, #userGenre {
   padding: 8px 15px;
   margin-bottom: 10px;
   border: var(--borderBlue) solid 1px;
   border-radius: 30px;
}



